.jumbotron
  h1 User 100000203184885
    p.lead
      | Big data analysis of the facebook user n. 100000203184885
    p The big brother strikes big.
  .row
    .span12
      posts-time(feed-content="data_promise")
