.jumbotron
  h1 User 100000203184885
    p.lead
      | Big data analysis of the facebook user n. 100000203184885
    p The big brother strikes big.

  .row
    .span12
      h2 All posts, one column per week.
      posts-time(feed-content="posts")

  .row
    .span12
      h2 Time between posts.
      time-interval-distribution(feed-content="posts")
